// Color Scheme

// First Color Scheme
$white: #fff;
$isabeline: #ECECEC;
$lightgray: #D1D1D1;

// Second Color Scheme
$smokyblack: #0C0910;
$celeste: #92dce5;
$rojo: #ef6461;
$grisoscuro: #55595c;

// Tipography

//Font Family
$roboto: 'Roboto', sans-serif;


// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$xxx-large: 45px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

